[submodule "external/gomobile_ipfs_0"]
	path = external/gomobile_ipfs_0
	url = https://github.com/marssuren/gomobile_ipfs_0.git
[submodule "external/go-libp2p"]
	path = external/go-libp2p
	url = https://github.com/marssuren/go-libp2p.git
	branch = master
[submodule "external/go-netroute"]
	path = external/go-netroute
	url = https://github.com/marssuren/go-netroute.git
[submodule "external/zeroconf_v2"]
	path = external/zeroconf_v2
	url = https://github.com/libp2p/zeroconf.git
[submodule "external/kubo"]
	path = external/kubo
	url = https://github.com/marssuren/kubo.git
